#container{
    width: 100%;
    background-color: darkorange;
    padding-top: 30px;
    padding-bottom: 100px;
}

#inter{
    padding-bottom: 10px;
}

#formulario{
    width: 40%;
    margin: auto;
    border: 5px black;
    border-radius: 10px;
    background-color: #C0C0C0;
    padding: 30px 15px 20px;
}

#inputs{
    border: 3px black;
}

#enviar{
    background-color: darkseagreen;
}



